<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About Me</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching & Outreach</a></li>
				<li><a href="/self-dev">Self-Development in Academia</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sanah.bhimani@yale.edu">Email me!</a></li>
	        		<li><a href="https://github.com/sanahabhimani">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/sanahbhimani/">LinkedIn</a></li>
				<li><a href="https://scholar.google.com/citations?hl=en&user=dl7W0i4AAAAJ">Google Scholar</a></li>
				<li><a href="https://orcid.org/0000-0002-9763-1663">ORCID</a></li>
				</ul>
			</footer>
		</body>
	</html>
