<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About Me</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/code-lang">Coding and Languages</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/sci-wri">Scicomm and Writing</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lzagorac@perimeterinstitute.ca">Email me!</a></li>
	        		<li><a href="https://github.com/lunazagor">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/jlunazagorac/">LinkedIn</a></li>
				<li><a href="https://scholar.google.com/citations?user=uXgBPZUAAAAJ&hl=en">Google Scholar</a></li>
				<li><a href="https://orcid.org/0000-0003-4504-1677">ORCID</a></li>
				<li><a href="https://twitter.com/cosmoloony">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
